/*
    Сводка почти всех присутствующих классов:
    - .screen и .wrapper отвечают для работу бокового меню, +, воозможно, заработает прибивка футера, можно будет пробовать.
    - .header содержит все стили для шапки сайта для Компьютерного вида, без бокового меню.

    - .menu, .menu-activ, .content, .cont и .menu-btnб отвечают за анимацию кнопки и выдвижение меню. Класс menu-btn - отрисовка анимации самой кнопки.
    - .menu-list содержит стили для ссылок в боковом меню.

    - .largeimg отвечает за большую картинку на главной странице. Теперь немного сложностей:
        - Класс .lg отвечает за большую картинку на странице "О Бренде".
        - Класс .lgdap отвечает за большую картинку на странице "Доставка и Оплата".
        - Класс .lgret отвечает за большую картинку на странице "Возврат".
        - Класс .lgcont отвечает за большую картинку на странице "Контакты".
    - Класс .btn отвечает за 3 кнопки, которые находятся на этой большой картинке на главной странице.

    - Классы .products и .product отвечают за стили карточек на странице "Каталог Издений".
    - Класс .inf отвечает за стили для кнопки "Купить" и про цену.
    - .act содержит блок с 2-мя строчками про то, чтобы подписывались в инстгарам и т.д.
    - Классы .cards и .card отвечают за те 8 карточек на главной странице. .cards для всех карточек, а .card для каждой отдельно.
    - .follow-section просто родительский класс.
    - .follow содержит стили для раздела, где реализуется подписка на рассылку.

    - Класс .ab отвечает за стили текста на страницах от "О Бренде" до "Контакты".
    - .pp содержит в себе стили для создания 3-х блоков на странице с оплатой.

    - Класс .footer, логично, содержит стили для подвала страницы, сам класс footer является родительским.
    - .logo-foot, .list и .follow-foot отвечают за содержимое футера.
        - .logo-foot за стили логотипа.
        - .list за ссылки.
        - .follow-foot за окно "подписаться", но уже в футере.
    - Класс .off отвечает за стили 2-х ссылок в самом низу страницы, где про конфиденциальнсть и оферту.
*/

/* Подключаю скаченные шрифты */
@font-face { 
    font-family: "Euclid Flex Trial";
    src: url(Fonts/Euclid-Flex-Trial.ttf);
}

body, html {
    margin: 0; padding: 0;
    box-sizing: border-box; /* Корректная отрисовка границ */
    width: 100%; height: 100%;
    font-family: "Euclid Flex Trial", sans-serif;
}

/* Стили для иконочного шрифта */
i {
    vertical-align: middle;
    margin-bottom: 8px;
}

a {
    text-decoration: none;
    margin: 0 30px 0 30px; /* Стили справа и слева */
    font-weight: bold; /* Жирный шрифт */
    color: #000;
    letter-spacing: 3px; /* Отсупы между буквами */
    font-size: small; /* размер шрифта */
    /* Тут задаётся плавность анимация для ссылок и кнопок. */
    transition: all 500ms cubic-bezier(0.785, 0.135, 0.150, 0.860); /* При наведении */
    transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860); /* При отведении курсора */
}

a:hover {
    color: #FF6800;
}

/* Скрытваю изначально Боковое меню */
.menu {
    display: none;
}

/*  Адаптивность для Планшетов*/
@media (max-width: 1239px) {

    .wrapper {
        position: relative; /* Позиционарование для бокового меню */
        overflow-x: hidden; /* Отключение горизонтального скролла */
    }

    /* откоючаю отображение меню для ПК */
    .header {
        display: none !important; /* Скрытие меню для ПК */
    }

    .largeimg {
        display: flex;
        flex-direction: column !important; /* Чтобы кнопки и иконка были в колонне */
        height: 100vh !important; /* Для отображения картинки на высоту всего экрана */
    }

    /* Тут содержатся стили для бокового меню */
    .menu {
        position: fixed; /* Фиксированный бок, чтобы при скроллинге и т.п. не менялся */
        right: 0;top: 0; /* Для того, чтобы кнопка была прибита к правому верхнему углу  */
        z-index: 9; /* Для того чтобы кнопка была поверх всего контента */
        width: 40%; /* При нажатии на кнопку открывается меню на 40% */
        height: 100vh; /* Чтобы высота была на 100% дисплея */
        display: flex; /* для всего сайта использлвал адаптивную технологию Flexbox */
        align-items: center; /* Центрирование по ширине */
        justify-content: center; /* Центрирование по высоте (или наоборот) */
        background-color: #fff;
        transition: 0.5s; /* Время, за которое появляется Боковое меню */
        transform: translateX(100%); /* Берется 100% от width и перемещается по оси x  */
    }

    /* Анимация меню */
    .menu-active {
        transform: translateX(0%); /* срабатывает jquerry и меню становится видно */
    }

    /* Стили для ссылок в боковом меню */
    .menu-list {
        display: flex;
        justify-content: space-around; /* Не работает без display flex, чтобы выравнить контент одинаковое количество отступов */

        height: 50%; /* Чтобы ссылки были расположены по середине */
        flex-direction: column; /* Контент распологается в колонну */
    }

    .menu-list a {
        text-decoration: none; /* Отключение подчёркивания у ссылок */
        text-transform: uppercase; /* Стиль, чтобы все буквы были заглавными */
    }

    /* Тут просходит отрисовка самой кнопкиБ можешь поменять форму, убрать тени, переместить её куда угодно */
    .menu-btn {
        width: 50px; /* Размер кнопки */
        height: 50px;
        background-color: rgb(255, 255, 255); /* Цвет фона */
        position: absolute; /* Абсолютное позиционирование говорит, что объект не зависит от блока и может перемещаться по всему экрану */
        border-radius: 50%; /* Чтобы закруглить кнопку */
        left: -100px; /* Положение в замисимости от бового меню */
        top: 10px; /* Отступ кнопки сверху */
        box-shadow: 0 0 17px 0.5px black; /* Тени */
    }

    /* Отрисовка линий на самой кнопки с помощью псевдоэлементов*/
    .menu-btn span,
    .menu-btn span::before,
    .menu-btn span::after {
        position: absolute;
        top: 50%; margin-top: -1px;
        left: 50%; margin-left: -10px;
        width: 20px;
        height: 2px;
        background-color: #222;
    } /* Отрисовка полосок в кнопке */

    .menu-btn span::before,
    .menu-btn span::after {
        content: '';
        display: block;
        transition: 0.5s;
    } /* Отрисовка полосок в кнопке */

    /* Добавление анимаций при нажатии */
    .menu-btn span::before {transform: translateY(-5px);} /* Поворот по оси у */
    .menu-btn span::after {transform: translateY(5px);} /* Поворот по оси у */

    .menu-btn-active span:before {transform: rotate(-45deg);}
    .menu-btn-active span:after {transform: rotate(45deg);}
    .menu-btn-active span {height: 0px;} /* Улетает за блок */

    /* Занимаемая площать при выдвижении меню в процентах от ширины экрана */
    .content-active {transform: translateX(30%);}

    footer {
        height: 500px !important; /* В планшетном режиме 500px */
    }

    .off a{ /* Для политики конфиденциальности и т.п., для вида по середине */
        margin: 10px 40px 0 0 !important;
        display: flex !important;
        justify-content: center !important; /* Выравнивание по центру по х */
        text-align: center !important; /* Выравнивание по цетру по у */
    }
}

/* Адаптивность для Телефонов */
@media (max-width: 720px) {

    .largeimg { 
        display: flex;
        flex-direction: column !important; /* Чтобы кнопки и иконка были в колонне */
        height: 100vh !important; /* Картинка будет на высоту всего экрана */
    }

    .largeimg img { /* Для логотипа который находится на большой фотке */
        width: 300px !important;
    }

    .btn {
        flex-direction: column !important; /* Чтобы кнопки были в колонне */
        margin: 5px !important; /* Отсутпы со всех сторон 5 px между кнопками */
    }
    
    .btn a {
        display: flex; /* Чтобы активировать justify-content */
        justify-content: center; /* Выравнивание по оси х */
    }


    .follow-section { 
        margin: 0 !important; /* Отступы 0 */
        width: 100% !important; /* На ширину всего экрана */
        font-size: smaller !important; /* Шрифт поменьше, чтобы не вылетал за рамки */
    }

    /* Стили для поля ввода */
    .follow input, .follow-foot input {
        width: 300px !important; /* Ширина поменьше */
        margin: 15px !important; /* Отступы поменьше */
        height: 20px !important; /* Высотка поменьше */
        border-bottom: 2px solid #fff; /* Подчеркивание */
        background-color: transparent; /* Прозрачность, имеет цвет заднего фона */
        border-top: none; border-left: none; border-right: none; /* Убираю подводки с ненужных сторон */
        font-family: "Euclid Flex Trial", sans-serif; /* подключение шрифтов */
        font-size: small !important; /* Размер текста поменьше */
        outline: none; /* Чтобы отключить обводку */
        color: #fff;
    }

    .menu {
        width: 50% !important; /* Для телефонов меню открывается ровно на пол экранов */
    }


    footer { /* Родительский класс для классов тех что ниже */
        width: 100% !important;
        height: 750px !important;
        flex-direction: column !important; /* Для того, чтобы все было в колонну */
        align-items: center !important; /* для того, чтобы все элементы были по центру */
    }


    .act {
        display: flex;
        justify-content: center !important;
        text-align: center !important; 
    }


    .logo-foot img { /* Для логотипа в футере */
        width: 250px !important;
        height: auto;
        margin-right: 0px !important;
    }

    .list a { /* Ссылки в футере */
        color: #fff;
        text-align: center !important;
        margin-left: 50px;
    }

    .follow-foot { /* Секция подписаться в футере */
        flex-direction: column;
        text-align: center !important;
        margin: 30px 0 30px 0 !important;
        align-items: center !important;
        justify-content: center !important;
        width: 100%;
        margin-right: 50px !important;
    }

    .follow-foot input { /* Для красоты инпута в футере */
        width: 300px !important;
        align-items: center !important;
    }
    
    .list { /* Ссылки в футере для красоты (отступ снизу) */
        margin-bottom: 10px;
    }

    hr { /* Отделяющая полоса */
        width: 100% !important;
        margin-right: 50px !important;  /* Линия почему-то улетает вправо и эта строчка кода фикс */
    }

    .off a { /* Ссылки в футере конфиденциальность и т.п.) */

        margin: 10px 40px 10px 0 !important; 
        display: flex !important;
        justify-content: center !important;
    }
}

/* Стили для шапки сайта */
.header {
    width: 100%;
    height: 90px;
    background-color: #fff;
    text-transform: uppercase; /* Все буквы заглавные */
    display: flex;
    flex-direction: row; /* Все объекты будут расположены в строчку */
    justify-content: center;
    align-items: center; /* Работает для всех элементы */
}

/* Стили для Логотипа на шапке */
.header img {
    margin-right: 30px;
    width: 140px;
    height: 80px;
}

/* Тут идут стили для всех больших каринок на всех стрницах */
.largeimg {
    width: 100%;
    height: 700px; /* Высота картинки */
    display: flex;
    align-items: center;
    flex-direction: column; /* Все объекты будут расположены в колонну */
    margin: 0;
    flex-wrap: wrap; /* Свойстово для автоматического переноса элементов на строку ниже при изменении ширины экрана(не работает без display flex) */
    background: url('Img/ls.main.jpg'); 
    background-size: cover; /* Это свойсто будет централизировать картинку, то есть, брать фокус на центре */
}

/* Стили для Большой картинки на странице "О Бренде" */
.lg {
    width: 100%;
    height: 700px;
    background: url('Img/ls.shop.jpg');
    background-size: cover; /* Это свойсто будет централизировать картинку, то есть, брать фокус на центре */
}

/* Стили для Большой картинки на странице "Доставка и Оплата" */
.lgdap {
    width: 100%;
    height: 700px;
    background: url('Img/ls.dnp.jpg');
    background-size: cover; /* Это свойсто будет централизировать картинку, то есть, брать фокус на центре */
}

/* Стили для Большой картинки на странице "Возврат" */
.lgret {
    width: 100%;
    height: 700px;
    background: url('Img/ls.return.jpeg');
    background-size: cover; /* Это свойсто будет централизировать картинку, то есть, брать фокус на центре */
}

/* Стили для Большой картинки на странице "Контакты" */
.lgcont {
    width: 100%;
    height: 700px;
    background: url('Img/ls.contacts.jpg');
    background-size: cover; /* Это свойсто будет централизировать картинку, то есть, брать фокус на центре */
}

/* Тут стили для Лого на большой картинге на Главной странице */
.largeimg img {
    margin-top: 130px;
    width: 400px;
    height: auto;
    z-index: 1;
}

/* А тут для 3-х кнопок */
.btn {
    display: flex;
    flex-direction: row; /* Чтобы кнопки размещались в строчку */
}

/* Стили для ссылок в разных классах */
.btn a, .follow a, .follow-foot a {
    margin: 30px 10px 30px 10px;
    background-color: transparent; /* Для прозрачности фона */
    border: 2px solid white;
    padding: 10px; /* Внуттенний отступ */
    color: #fff;
    text-transform: uppercase; /* Заглавные буквы */
}

/* Стили для ссылок и текста на остальных страницах */
.a {
    margin: 10px 10px 10px 10px;
    background-color: transparent;
    border: 2px solid #FF6800;
    padding: 10px;
    color: #FF6800;
    text-transform: uppercase;
    margin-left: 30px;
}

.ab {
    width: 70%;
    margin: 50px 0 50px 15%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.pp {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: row; /* Для того, чтобы элементы были в строчку */
    flex-wrap: wrap; /* Чтобы был автоматический перенос в колонну */
}

.pp p {
    margin: 20px; /* Отступ везде 20px */
}

.ab h1 {
    margin: 0; /* Убрал отступы, потому что указал в ab отступы и выглядело бы неркасиво */
}


.inf a:hover { /* Кнопка купить в каталоге товаров */
    background-color: #FF6800;
    color: #fff;
}

.largeimg a:hover, .follow a:hover, .follow-foot a:hover { /* Кнопки подписаться в футере и т.п. */
    background-color: #fff;
    color: #FF6800;
}

/* Стили для Карточек на страице "Кталог Изделий" */
.products {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Автоматический перенос контента */
    margin: 50px 0 50px 0;
}

.product { /* Класс самого продукта (штаны и тп) */
    width: 250px;
    border: 1px solid black;
    margin: 10px 10px 10px 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

/* Доп. стиль для указания Цены и Кнопки купить */
.inf {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; /* Элементы в строчку */
}

.product img { /* Картинка продукта */
    width: 250px;
    height: auto;
}

.act { /* Это текст в самом актуальном */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px;
}

.act p { /* Это текст в самом актуальном под тегом p */
    margin: 0;
    font-size: 20px;
}

.cards { /* Родительский класс для класса card */
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Автоматический перенос на другую строку */
}

.card {
    z-index: 3; /* Важность линии (по иерархии ниже текста) */
    height: 300px;
    height: auto;
    margin: 7px;
    transition: 0.5s; /* Время, за которое отрисовываются анимации на картах на главной странице */
    color: #fff;
    display: inline-flex; /* Чтобы расположить элементы в строчку */
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative; /* Позиционирование для отрисовки линий */
}

.card img { 
    width: 300px; /* Размер карточек */
    height: 300px;
    z-index: 0; /* Важность картинки (ниже всех) */
}

.card p {
    position: absolute;
    transition: 0.5s; /* Время затемнения */
    transform: translateY(50px);
    opacity: 0;
    z-index: 4; /* Важность текста (поверх всего) */
    margin: 30px;
    color: #fff;
}

/* Ниже куча классов для псевдо элементов для отрисовки линий на картах */
.card:before {
    content: ''; /* Не работает без этого */
    position: absolute;
    top: 5%;
    right: 5%;
    bottom: 5%;
    left: 5%;
    border-top: solid 3px;
    border-bottom: solid 3px;
    transition: 0.5s; /* Время отрисовки Боковых линий */
    transform: scaleX(0); /* Отрисовка от центра */
}

.card:after {
    content: ''; /* Не работает без этого */
    position: absolute;
    top: 5%;
    right: 5%;
    bottom: 5%;
    left: 5%;
    border-left: solid 3px;
    border-right: solid 3px;
    transition: 0.5s; /* Время отрисовки линий сверху и снизу */
    transform: scaleY(0); /* Отрисовка от центра */
}

.card:hover:before { /* отрисовка линий */
    transform: scaleX(1);
    z-index: 3;
}

.card:hover:after { /* отрисовка линий */
    transform: scale(1);
    z-index: 3;
}

.card:hover p { 
    transform: translateY(0px); /* Возвращаем в начальное положение */
    opacity: 1; /* Возвращаем видимость */
}

.card:hover img { 
    z-index: 0;
    filter: brightness(50%) /* Затемняется на 50% */
}

.card i { /* Стили для иконочного шрифта (инстаграмм) */
    margin: 10px;
    color: #fff;
    font-size: 1.5em; 
}

/* Стили для раздела с подпиской */
.follow-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Перенос вниз (адаптивность) */
    margin: 50px; /* Отступы везде */
    text-align: center;
    color: #fff;
}


.follow {
    padding: 50px; /* Отступ внутри блока */
    background-color: #FF6800;
    border-radius: 15px;
    margin: 40px;
}

/* Стили для поля ввода */
.follow input, .follow-foot input {
    width: 400px;
    margin: 35px;
    height: 50px;
    border-bottom: 2px solid #fff; /* Нижняя линия */
    background-color: transparent;
    border-top: none; border-left: none; border-right: none; /* Удаляет все линии, кроме нижней */
    font-family: "Euclid Flex Trial", sans-serif;
    font-size: large; /* Размер шрифта большой */
    outline: none; /* Для инпута, чтобы не обводил */
    color: #fff;
}

.follow p { /* Там где "Нажимая 'подписаться', вы даете согласие"   */
    margin: 30px;
}

.follow-foot input { /* Ширина линии */
    width: 250px;
}

/* Стили для подсказки в поле */
input::placeholder {
    color: #fff;
}

/* Скрытие подсказки при нажаии на поле */
input:focus::placeholder {
    visibility: hidden; /* Скрытие   */
}

/* Стили для футера */
.footer {
    width: 100%;
    height: 350px;
    background-color: #FF6800;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* Стили для логотипа в футере */
.logo-foot {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-foot img {
    width: 250px !important;
    height: auto;
    margin-right: 100px !important;
}

/* Стили для ссылок в футере */
.list {
    display: flex;
    justify-content: flex-start; /* Позиционирование от левого края */
    flex-direction: column;
}

.list a, footer a {
    color: #fff;
    margin-right: 100px;
    text-transform: uppercase; /* Заглавные буквы */
}

.footer img {
    width: 60%;
    margin: 50px;
}

.follow-foot {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.list a:hover, footer a:hover {
    color: rgb(0, 0, 0);
}

/* Стили для горизонтального разделителя */
hr {
    width: 100%;
    margin: 0;
}